.unique_cards{
    width: 870px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.unique_card_link {
    margin: 5px;
    width: 400px;
    min-height: 180px;
    padding: 20px 0 0 20px;
    color: #000;
    text-decoration: none;

}
.unique_card {
    display: flex;
    width: 926px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
    border-radius: 6px;
    padding: 15px;
}
.unique_card_image img {
    width: 240px;
    min-height: 200px;
}
.unique_card_info p:first-of-type{
     width: 450px;
     font-family: Montserrat, serif;
     font-style: normal;
     font-size: 16px;
     line-height: 20px;
     color: #333333;
     display: flex;
     justify-content: flex-end;
}
.unique_card_info p:last-of-type{
    width: 650px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    display: flex;
    justify-content: flex-end;
}
.unique_card_info h3{

}
.unique_card_info h4{

}

.unique_card p span{
    display: flex;

    font-weight: bold;
}
