.order_card {
    margin-top: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
    border-radius: 6px;
}
.order_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 23px;
    background: #F2F3F5;
    border-radius: 6px 6px 0 0;
}
.order_card_header_dates p {
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.order_card_header_dates p span {
    font-weight: bold;
}
.order_card_header_status p{
    margin-right: 20px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #0EB757;
}
.order_card_body {
    width: 100%;
    padding: 23px;
    display: flex;
    justify-content: space-between;
}
.order_card_info {
    width: 400px;
}

.order_card_info h3{
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.order_card_info h4 span {
    text-transform: uppercase;
}
.order_card_info h4{
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.order_card_info p:first-of-type {
    margin-top: 25px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}
.order_card_info p:nth-child(even){
    margin-top: 35px;
}
.order_card_info p span {
    font-weight: bold;
}
.order_card_info p:last-of-type span{
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.order_card_info p:last-of-type{
    margin-top: -6px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}
.order_card_info button {
    font-weight: bold;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #fff;
    border: none;
}
.order_card_image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_card_image img{
    width: 350px;
}
.order_card_quantity p{
    margin-top: 25px;
}