.cards_category{
    margin-left: 80px;
    margin-top: 60px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category {
    flex: 1;
    width: 425px;
    min-height: 230px;
    margin: 15px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
    border-radius: 4px;
}

.category h2 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 22px;
    color: #333333;
}
.category li {
    margin: 18px;
    list-style: circle;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 17px;
    color: #333333;
}
