.process {
    width: 100%;
    min-height: 680px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F8FE;;
}

.process_header {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.process_header:before{
    content: '';
    width: 60px;
    min-height: 4px;
    background: #0EB757;
    border-radius: 4px;
    margin-bottom: 40px;
}


.process h3 {
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    color: #333333;
    font-size: 27px;
    line-height: 44px;
}

.process p {
    width: 450px;
    font-family: var(--CIRCE-fontsize);
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #757A7D;
}
.process_images {
    width: 77%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.process_images_block_first, .process_images_block_second {
    width: 170px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process_images_block_first h4, .process_images_block_second h4{
    margin: 8px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.process_images_block_first p , .process_images_block_second p{
    margin: 8px;
    width: 200px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #828282;
}
.process_images_block_first svg, .process_images_block_second svg {
    width: 85px;
    min-height: 85px;
}
.process_images_block_first {
    position: relative;
    top: -50px;
}
.process_images_block_second {
    position: relative;
}
.ololo2 {
    position: relative;
    top: -50px;
}
.ololo1{
    position: relative;
    top: 38px;

}