.process {
    width: 1350px;
    min-height: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F8FE;;
}

.process_header {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process_header:before{
    content: '';
    width: 50px;
    min-height: 4px;
    background: #0EB757;
    border-radius: 4px;
}

.process h3 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
}

.process p {
    width: 450px;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #828282;
}
.process_images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.process_images_block {
    width: 170px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process_images_block h4{
    margin: 8px;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.process_images_block p{
    margin: 8px;
    width: 200px;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #828282;
}
.process_images_block svg {
    width: 85px;
    min-height: 85px;
}