.counter {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.counter div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter p{
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    width: 200px;
}
.counter div h3 {
    margin: 0;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    color: #0EB757;
}
.counter div span {
    text-transform: uppercase;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    color: #828282;
}