.search_header {
    width: 70%;
    font-size: 16px;
}
.search_header h1 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #333333;
}
.search_header p {
    width: 393px;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}
