.one_card_wrapper{
    margin-bottom: 60px;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.one_card_go_back_link a{
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.one_card {
    margin-top: 50px;
    display: flex;
    max-height: 400px;
    justify-content: space-around;
    width: 1200px;
    padding: 25px;
}

.one_card_info {
    min-height: 450px;
    max-height: 300px;
    margin: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.one_card_images {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
}
.one_card_images img{
    padding: 15px;
    width: 350px;

}
.one_card_info h3 {
    margin-top: -70px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.one_card_info h4 {
    margin-top: -65px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-left: 5px;
    font-family: var(--CIRCE-fontsize);
}
.one_card_info p{
    margin-top: -50px;
    width: 450px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    font-weight: normal;
    color: #000000;
    opacity: 0.5;
}
.one_card_form{
    min-height: 420px;
    padding: 25px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
}
.one_card_form p {
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #333333;
    display: flex;
    justify-content: flex-start;
}

.one_card_form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 205px;
}
.one_card_form form label {
    margin: 5px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.one_card_form form button {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: var(--CIRCE-fontsize);
    width: 220px;
    min-height: 45px;
    background: #0EB757;
    border: 0;
    border-radius: 40px;
    margin-top: 35px;
}