.search_page{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards_info {
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 25px;
    width: 915px;
    display: flex;
    justify-content: flex-start;
}