.unique_info{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unique_info h3 {
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #333333;
}
.unique_info p {
    width: 480px;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #757A7D;
}
.unique_info h3, .unique_info p {
    text-align: center;
}