.personal_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal_orders, .personal_header{
    width: 900px;

}
.personal_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.personal_header h3 {
    font-family: Circe, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #333333;
}
.personal_header h4 {
    font-family: Circe, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    color: #333333;
}
