.unique_cards_search{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.unique_card_link_search{
    margin: 5px;
    min-height: 180px;
    padding: 20px 0 0 20px;
    color: #000;
    text-decoration: none;

}
.unique_card_search{
    box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 900px;
    padding: 15px;
}

.unique_card_image_search{
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.unique_card_image_search img {
    width: 190px;
    min-height: 200px;
}
.unique_card_info_search {
    margin: 10px 0 0 5px;
}
.unique_card_info_search h3 {
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.unique_card_info_search h4 span{
    text-transform: uppercase;
}
.unique_card_info_search h4{
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.unique_card_info_search p:first-of-type {
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}
.unique_card_info_search p:last-of-type{
    display: flex;
    justify-content: flex-end;
    font-family: var(--CIRCE-fontsize);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}