.footer {
    margin-top: 60px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    background: #262626;
}
.footer_wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

.footer_links {
    margin-top: 50px;
}
.footer_info {
    margin-top: 50px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footer_info h5{
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer_info p {
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
}

.footer_links_social a{
    padding: 20px;
    font-size: 22px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.footer_links_download_div {
    margin: 15px;
    background: #404040;
    width: 140px;
    display: flex;
    align-items: center;
    color: #fff;
}