:root {
  --CIRCE-fontsize: 'Open Sans', sans-serif;
}
/*IF U WANT TO FIND SOME STYLES JUST PRESS CTR+F AND WRITE WITCH CLASS U WANT TO FIND.*/
/*APP STYLES*/
.app_wrapper{
  background: #FBFBFD;
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  flex-direction: column;
  width: 1400px;
}
.header_background_image img{
  width: 900px;
  position: absolute;
  right: 0px;
  top: 100px;
}
/*HEADER*/
header {
  background: #FFFFFF;
  display: flex;
}
.logo {
  margin: 12px 0 13px 30px;
  display: flex;
}
.logo_first {
  display: flex;
  align-items: center;
}
.logo_second {
  margin-left: 45px;
  width: 52px;
  height: 52px;
}
.navbar{
  margin-top: -50px;
  margin-right: 40px;
  flex: 3;
  display: flex;
  flex-direction: row-reverse;
}

.navbar li {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.navbar li:hover {
  text-decoration: underline;
}
.navbar li a{
  display: flex;
  align-items: center;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 31px;
  color: #333333;
  text-decoration: none;
}



/* SEARCH HEADER*/
.search_header {
  z-index: 9999;
  margin: 70px 0 0 45px;
  width: 70%;
  font-size: 16px;
}
.search_header h1 {
  width: 600px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 73px;
  color: #333333;
}
.search_header p {
  margin-top: 50px;
  width: 450px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}
/*UNIQUE CARDS */

.unique_cards{
  margin-bottom: 50px;
  display: flex;
}
.unique_card_link {
  margin: 5px;
  min-height: 180px;
  padding: 20px 0 0 20px;
  color: #000;
  text-decoration: none;

}
.unique_card {
  display: flex;
  flex-direction: column;
  width: 255px;
  padding: 15px;
}
.unique_card_image {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
}
.unique_card_image img {
  width: 190px;
  min-height: 200px;
}
.unique_card_info {
  margin: 10px 0 0 5px;
}
.unique_card_info h3 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.unique_card_info h4 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.unique_card_info p:first-of-type{
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

/*UNIQUE INFO*/
.unique_info{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unique_info h3 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #333333;
}
.unique_info p {
  width: 480px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #757A7D;
}
.unique_info h3, .unique_info p {
  text-align: center;
}
/*SEARCH PAGE */
.search_page{
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards_info {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 25px;
  width: 915px;
  display: flex;
  justify-content: flex-start;
}
/*SEARCH */
.search {
  margin: 55px 0 0 40px;
  width: 70%;
  min-height: 70px;
  display: flex;
}
.search input {
  padding-left: 25px;
  font-size: 23px;
  min-height: 64px;
  width: 800px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 45px;
}
.search button {
  position: relative;
  top: -3px;
  right: 138px;
  border: 0px solid green;
  width: 132px;
  min-height: 52px;
  background: #0EB757;
  border-radius: 22px;
  height: 21px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
/* FILTERS */
.filters {
  z-index: 9999;
  margin: 14px 0 0 45px;
  width: 70%;
  display: flex;
  border: none;
  font-size: 22px;
}
.filter_by_citys, .filter_type_of_equipment {
  margin: 0 10px;
}
.filter_by_citys select, .filter_type_of_equipment select{
  background: none;
  border: none;
}

/* UNIQUE EQUIPMENTS*/
.unique_equipments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
/*COUNTER*/
.counter {
  display: flex;
  justify-content: space-around;
  width: 57%;
}
.counter div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter p{
  margin-top: 15px;
  width: 170px;
  text-align: center;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}
.counter div h3 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 118px;
  letter-spacing: 0.06em;
  color: #0EB757;
}
.counter div span {
  margin-top: -50px;
  text-transform: uppercase;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #757A7D;
}
/* CARDS CATEGORY*/
.card {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  color: #000;
  text-decoration: none;
}
.cards_category{
  margin-left: 80px;
  margin-top: 60px;
  width: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.category span {
  margin: 10px 0 0 60px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  color: #E0E0E0;
}
.category {
  flex: 1;
  width: 425px;
  margin: 10px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
  border-radius: 4px;
}

.category h2 {
  margin: 20px 0 0 15px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  color: #333333;
}

.category li {
  margin: 25px 15px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/*PROCESS*/
.process {
  width: 1350px;
  min-height: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F8FE;;
}

.process_header {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process_header:before{
  content: '';
  width: 60px;
  min-height: 4px;
  background: #0EB757;
  border-radius: 4px;
  margin-bottom: 40px;
}

.process h3 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  color: #333333;
  font-size: 27px;
  line-height: 44px;
}

.process p {
  width: 450px;
  font-family: var(--CIRCE-fontsize);
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #757A7D;
}
.process_images {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.process_images_block {
  width: 170px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process_images_block :nth-child(2n){

}

.process_images_block h4{
  margin: 8px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.process_images_block p{
  margin: 8px;
  width: 200px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #828282;
}
.process_images_block svg {
  width: 85px;
  min-height: 85px;
}
/* HOW START*/
.how_start{
  margin-top: -100px;
  width: 1100px;
  height: 240px;
  background: #FFFFFF;
  box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
  left: 143px;
  top: 2300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how_start h3{
  margin-top: 25px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  color: #333333;
  font-size: 21px;
  line-height: 31px;
}

.how_start p{
  width: 450px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.how_start a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 44px;
  text-decoration: none;
  background: #0EB757;
  border: 0;
  border-radius: 22px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #FFFFFF;
}
.how_start_info {
  min-height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/*ONE CARD*/
.one_card_wrapper{
  margin-bottom: 60px;
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.one_card {
  margin-top: 50px;
  display: flex;
  max-height: 400px;
  justify-content: space-around;
  background: #F5F8FE;
  width: 1200px;
  box-shadow: 4px 4px 8px rgba(178, 184, 191, 0.25);
  padding: 25px;
}

.one_card_info {
  max-height: 450px;
  margin: -65px 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.one_card_images {
  max-height: 250px;
  padding: 15px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
}
.one_card_info h3 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.one_card_info h4 {
  margin-top: -150px;
  margin-left: 5px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
.one_card_info p{
  margin-top: -100px;
  width: 450px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  display: flex;
  justify-content: flex-end;
}
.one_card_form {

  padding: 25px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
}
.one_card_form p {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  display: flex;
  justify-content: flex-start;
}

.one_card_form p span{
  display: flex;
  font-weight: bold;
}
.one_card_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 205px;
}
.one_card_form form button {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  width: 180px;
  min-height: 45px;
  background: #0EB757;
  border-radius: 40px;
  margin-top: 35px;
}
/*PERSONAL PAGE */
.personal_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal_orders, .personal_header{
  width: 900px;

}
.personal_header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.personal_header h3 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #333333;
}
.personal_header h4 {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
  color: #333333;
}

/* FOOTER*/
.footer {
  margin-top: 60px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  background: #262626;
}
.footer_wrapper {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.footer_links {
  margin-top: 50px;
}
.footer_info {
  margin-top: 50px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.footer_info h5{
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer_info p {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

.footer_links_social a{
  padding: 20px;
  font-size: 22px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.footer_links_download_div {
  margin: 15px;
  background: #404040;
  width: 140px;
  display: flex;
  align-items: center;
  color: #fff;
}


/*ORDER CARD*/
.order_card {
  margin-top: 20px;
  width: 900px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
  border-radius: 6px;
}
.order_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 23px;
  background: #F2F3F5;
  border-radius: 6px 6px 0 0;
}
.order_card_header_dates p {
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.order_card_header_dates p span {
  font-weight: bold;
}
.order_card_header_status p{
  margin-right: 20px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #0EB757;
}
.order_card_body {
  padding: 23px;
  display: flex;
}

.order_card_info h3{
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.order_card_info h4{
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.order_card_info p:first-of-type {
  margin-top: 25px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
}
.order_card_info p:nth-child(even){
  margin-top: 35px;
}
.order_card_info p span {
  font-weight: bold;
}
.order_card_info p:last-of-type span{
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.order_card_info p:last-of-type{
  margin-top: -6px;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
}
.order_card_info button {
  font-weight: bold;
  font-family: var(--CIRCE-fontsize);
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #fff;
  border: none;
}
.order_card_image_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order_card_quantity p{
  margin-top: 25px;
}



