:root {
  --CIRCE-fontsize: 'Open Sans', sans-serif;
}
.app_wrapper{
  background: #FBFBFD;
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  flex-direction: column;
  width: 1400px;
}
.header_background_image img{
  width: 900px;
  position: absolute;
  right: 0;
  top: 100px;
}