.how_start{
    margin-top: -100px;
    width: 1100px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(178, 184, 191, 0.25);
    left: 143px;
    top: 2300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how_start h3{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.how_start p{
    width: 320px;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.how_start a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 44px;
    text-decoration: none;
    color: #fff;
    background: #0EB757;
    border-radius: 8px;
}

